*.out
*.config
*.creator
*.creator.user
*.creator.user*
*.files
*.pro
*.pro.user*
*.o
*.includes
*.autosave
*.log
*.aux
*.fls
*.fdb_latexmk
*.toc
*.synctex.gz
*.dvi
*.ps
*~
main.cpp
lexer_tab_int.h
lexer_tab_int.zip
cropeps
